/* General */
body {
    font-family: "Roboto", sans-serif;
    /* make my footer to be on the bottom */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


.container {
    padding: 70px 0;
}


/* My Navbar */

.navbar {
    background-color: #000000B3;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.navbar-toggler-icon {
    background-color: rgba(255, 166, 0, 0.959);
}

#navbar-links a {
    color: #fff;
}

#navbar-links a:hover {
    color: rgba(255, 166, 0, 0.959);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 0.8rem;
}

/* Carousel */


.container-fluid {
    padding: 0;

}


.carousel-caption {
    top: 12%;
}

.carousel-caption h2 {
    font-size: 55px;
    margin-bottom: 60px;
}

.carousel-caption p {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.carousel-indicators .active {
    background-color: rgba(255, 166, 0, 0.959);
}



/* Service Area */

#services-area {
    background-color: #f9f9f9;


}



.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.service-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;

}


.service-box p {
    font-size: 14px;
    color: #444;

}



/* footer */

footer {
    background-color: #444;
    /* make my footer to be on the bottom */
    margin-top: auto;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fafafa;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: rgba(255, 166, 0, 0.959);
    opacity: 0.9;
}

/* hover effect on socialIcons */
.socialIcons a:hover {
    background-color: rgba(255, 166, 0, 0.959);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #808080;
    transition: 0.5s;
}

/* FooterNav */
.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.footerNav ul li a {
    color: #fafafa;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    color: rgba(255, 166, 0, 0.959);
    opacity: 1;
}

/* Footer Bottom */
.footerBottom {
    background-color: #000000B3;
    padding: 20px;
    text-align: center;

}

.footerBottom p {
    color: rgba(255, 166, 0, 0.959);

}



.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Make the footer responsive */
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* About page */
#about-area {
    margin-top: 6rem;
}

.about-heading {
    padding: 5%;
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;

}







/* Gallery page */
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    max-width: 100%;
    /*To ensure images do not overflow on smaller screen*/


}

#photo img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 943px) {
    #photo {
        column-count: 3;

    }
}

@media screen and (max-width:800px) {
    #photo {
        column-count: 2;
    }
}

/* Contact Page */


#contact {
    background: linear-gradient(90deg, rgba(255, 166, 0, 0.959) 0%, rgba(255, 166, 0, 0.959)25%, #000000B3 25%, #000000B3 0%);

}

.contactUS {
    position: relative;
    width: 100%;
    padding: 40px 100px;

}

.contactUS .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 7rem;

}

.contactUS .title h2 {
    color: #fafafa;
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: rgba(255, 166, 0, 0.959);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Form */


.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;

}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox span {
    color: rgba(255, 166, 0, 0.959);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;

}

.inputBox input[type="submit"] {
    background: #000000B3;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox input[type="submit"]:hover {
    color: rgba(255, 166, 0, 0.959);
}

.inputBox ::placeholder {
    color: rgb(112, 110, 110);
}

/* Info */
.info {
    background: rgba(247, 185, 72, 0.959);
}

.info h3 {
    color: #000000B3;
}

.info .inputBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #000000B3;
    justify-content: center;
    align-items: center;
    margin-right: 15px;

}


.info .infoBox div p {
    color: #000000B3;
}

.info .infoBox div a {
    color: #000000B3;
    text-decoration: none;
}

/* Map */
.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;

}

/* Responsive Map */
@media (max-width: 943px) {
    #contact {
        background: ;
    }

    .contactUS {
        padding: 20px;
    }

    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .map {
        min-height: 300px;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .infoBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }

    .map {
        min-height: 300px;
        padding: 0;
    }
}